@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
// font-weight => Alata 400, Josefin Sans 300
$alata: 'Alata', sans-serif;
$josefin: 'Josefin Sans', sans-serif;

// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// media queries
$screen-lg-min: 968px;

$screen-md-min: 468px;