@import "_config.scss";
@import "_utils.scss";
@import "_functions.scss";
@import "_mixins.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// ===== reset ===== \\
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
img{
  width: 100%;
}

html{
  scroll-behavior: smooth;
}
body{
  font-size: 15px;
  font-family: $josefin;
}

// ===== hero ===== \\
.hero{
  background-image: url("../images/mobile/image-hero.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

  @include lg-min{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__wrapper{
    @include sectionWrapper;
  }
  &__content{
    display: flex;
    min-height: calc(100vh - 32px);
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: 0.3s;

    @include lg-min{
      justify-content: flex-start;
    }

    &.active{
      opacity: 0;
    }
  }
  &__title{
    max-width: rem(320);
    color: $white;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.1;
    text-transform: uppercase;
    border: 1px solid $white;
    padding: 1.5rem;

    @include lg-min{
      max-width: rem(540);
      font-size: 4em;
      padding: 2.5rem 1.5rem 1.5rem;
    }
  }
  &__overlay.active{
    background-color: $black;
    z-index: 10;
  }
}

.logo{
  width: rem(192);
  height: rem(32);
}

.header{
  @include sectionWrapper;
  padding: 2rem 1rem 0;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;

  &__list{
    position: absolute;
    top: 0;
    left: 0;
    display: flex; // need to specify positioning for flex to work
    flex-direction: column;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    opacity: 0;
    transition: 0.3s;

    &.active{
      opacity: 1;
    }

    @include lg-min{
      position: static;
      flex-direction: row;
      min-height: auto;
      align-items: center;
      gap: 1.5rem;
      opacity: 1;
    }
  }
  &__link{
    color: $white;
    text-transform: uppercase;
    font-size: 2em;
    position: relative;
    font-weight: 300;

    @include lg-min{
      font-size: 1em;
      text-transform: capitalize;

      &::after{
        position: absolute;
        content: '';
        background-color: $white;
        border-radius: 1rem;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        width: 40%;
        height: 2px;
        opacity: 0;
        transition: 0.3s;
      }
      &:hover::after{
        opacity: 1;
      } 
    }
  }
  &__menu{
    background-image: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: rem(24);
    height: rem(16);
    cursor: pointer;
    transition: 0.3s;

    &.active{
      background-image: url("../images/icon-close.svg");
      background-repeat: no-repeat;
      width: rem(20);
      height: rem(20);
    }

    @include lg-min{
      display: none
    }
  }
}


// ===== about ===== \\
.about{

  &__wrapper{
    @include sectionWrapper;
    padding: 6rem 1rem 4rem; // override

    @include lg-min{
      padding: 8rem 1rem 5rem;
    }
  }
  &__content{
    position: relative;
  }
  &__img{

    @include lg-min{
      max-width: rem(731);
      height: rem(500);
    }
  }
  &__text{
    padding: 2.5rem 1rem 0;
    text-align: center;

    @include lg-min{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $white;
      max-width: rem(494);
      text-align: initial;
      padding: 5rem 0 0 5rem;
    }
  }
  &__title{
    font-size: 2em;
    color: $very-dark-gray;
    margin-bottom: 1.2rem;

    @include lg-min{
      font-size: 2.7em;
    }
  }
  &__desc{
    color: $dark-gray;
    font-weight: bold;
    line-height: 1.5;
    font-size: 1em;
    padding: 0 1.5em;
    
    @include lg-min{
      padding: 0;
    }
  }
}


// ===== events ===== \\
.events{
  position: relative;

  &__wrapper{
    @include sectionWrapper;
    padding-top: 2rem;
  }
  &__creations{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title{
    color: $very-dark-gray;
    font-size: 2em;

    @include lg-min{
      text-align: initial;
    }
  }
  &__see-all{
    display: inline-block;
    position: absolute;
    bottom: rem(90);
    left: 50%;
    transform: translateX(-50%);
    color: $black;
    font-size: 0.9125em;
    font-weight: 600;
    letter-spacing: 4px;
    font-family: $alata;
    text-transform: uppercase;
    border: rem(1) solid $black;
    padding: 0.6em 2.5em 0.5em;
    transition: 0.3s;

    &:hover{
      color: $white;
      background-color: $black;
    }

    @include lg-min{
      position: static;
      transform: translate(0%, -5%);
      margin-left: auto;  // fixing justify-content: center;
    }
  }
  &__content{
    padding: 2rem 0 10rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    @include lg-min{
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &__tab{
    position: relative;

    &:hover{
        
      .events__tab--overlay{
        opacity: 0.3;
      }
      .events__tab--header{
        color: $black;
        font-weight: 600;
      }
    }
    &--overlay{
      background: linear-gradient(to right, rgba(0,0,0,0.5), transparent);
      opacity: 1;
      transition: 0.3s;
      cursor: pointer;

      @include lg-min{
        background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
      }
    }
    &--img{
      mix-blend-mode: multiply;
      display: block;
    }
    &--header{
      color: $white;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 1.5em;
      position: absolute;
      bottom: 10%;
      left: 5%;
      transform: translate(-5%, -10%);
      transition: color 0.3s;

      @include lg-min{
        bottom: 3%;
        left: 10%;
        transform: translate(-10%, -3%);
      }
    }
  }
}


// ===== footer ===== \\
.footer{
  background-color: $black;
  color: $white;

  &__wrapper{
    @include sectionWrapper;
  }
  &__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: center;
    padding: 4rem 0;

    @include lg-min{
      grid-template-columns: repeat(2, 1fr);
      place-items: initial;
      padding: 4rem 0 3rem;
    }
  }
  &__logo{

    @include lg-min{
      order: 1;
    }
  }
  &__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1.5rem 0;

    @include lg-min{
      flex-direction: row;
      order: 3;
    }
  }
  &__link{
    color: $white;
    position: relative;

    &::after{
      position: absolute;
      content: '';
      background-color: $white;
      border-radius: 1rem;
      bottom: -30%;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      height: 2px;
      opacity: 0;
      transition: 0.3s;

      @include lg-min{
        bottom: -50%;
      }
    }
    &:hover::after{
      opacity: 1;
    }
  }
  &__socials{
    display: flex;
    align-items: center;
    gap: 1rem;

    @include lg-min{
      order: 2;
      margin-left: auto;
    }
  }
  &__social{
    position: relative;

    &::after{
      position: absolute;
      content: '';
      background-color: $white;
      border-radius: 1rem;
      bottom: -15%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2px;
      opacity: 0;
      transition: 0.3s;
    }
    &:hover::after{
      opacity: 1;
    }
  }
  &__copyright{
    color: $dark-gray;
    font-weight: 600;

    @include lg-min{
      order: 4;
      margin: auto 0 auto auto;
    }
  }
}